.m-main {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(to bottom, rgba(1,115,141,1) 0%, rgba(59,199,190,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 26px;

    &__weather {
        overflow: hidden;
        padding: 1em;
    }

    &__city {
        text-transform: uppercase;
        font-family: 'Bebas';
        font-size: 2.5em;
    }
}
