// colors

$gradient: linear-gradient(to bottom, rgba(1,115,141,1) 0%, rgba(59,199,190,1) 100%);
$lightSea: rgb(75, 159, 177);
$darkSea: rgb(57, 152, 171);
$lightGreen: rgb(97, 193, 198);
$darkGreen: rgb(91, 197, 195);